

<p>
  Author: <%= @message.author %>
</p>

<p>
  <%= @message.content %>
</p>

<p>
  <a href="http://<%= @message.url %>"><%= @message.url %></a>
</p>

<hr/>
<a href="/messages">Back to All Messages</a>
